@mixin flexColumnOnMobile($justify, $align, $gap: 1rem, $mobileDirection: column, $mobileMaxWidth: 560px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;

  @media (max-width: $mobileMaxWidth) {
    flex-direction: $mobileDirection;
  }
}

@mixin flexColumn($justify, $align, $gap: 1rem) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: column;
}
