@mixin gridResponsiveColumnLayout($width: 100%, $minSize: 240px, $maxWidthMobile: 500px) {
  width: $width;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax($minSize, 1fr));

  @media (max-width: $maxWidthMobile) {
    &--fullWidth {
      width: 100%;
    }
  }
}
